* {
  margin: 0;
  padding: 0;
}

.carousel-container {
  max-width: 900px;
  width: 90%;
  height: 506px;
  margin: 100px auto;
  overflow: hidden;
  position: relative;
}

.carousel-image-wrapper {
  display: flex;
  position: absolute;
  max-width: 100%;
}

.image {
  max-width: 100%;
  height: auto;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: none;
  background: none;
  padding: 5px;
}

.btn:hover {
  background: #eee;
}

#btn-left {
  left: 10px;
}

#btn-right {
  right: 10px;
}

#nav-btns {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #eee;
}

.nav-btn:hover {
  background-color: #888;
}

.nav-btn.nav-btn--active {
  width: 30px;
  height: 30px;
  background-color: #aaa;
}
